.msg-info {
    color: #ffaa00;
}

.msg-success {
    color: #00cc00;
}

.msg-error {
    color: #ff0000;
}

body {
    width: 20em;
    font-size: 5em;
}


button,select,option {
    font-size: inherit;
}


#messages {
    max-height: 20em;
    width: 100%;
    overflow-y: auto;
}
